h1
{
    text-align: center;
}
body{
    background-color: aquamarine;
}
.container{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 20px 30px;
    margin: 0 50px;
    height: 100px;
    color: white;


}
.item{
    height: 250px;
    border: 1px solid; 
    border-radius: 20px;
    background-color: white;

}